*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Manrope', sans-serif;
    background-color: white;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}




#navbar{
    width: 100%;
    height:64px;
    background-color: #172554;
    position:fixed;
    top: 0px; 
    text-align: center;
    z-index: 100;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.25);
}
    
#nav-left{
    display: flex;
    align-items: center;
    gap: 8px;
}
#navbar img{
    height: 36px;
}

#brand-name{
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif; 
}

#nav-right{
    display: flex;
    gap: 8px;
    align-items: center;
}

button {
    transition: 0.3s ease;
}
/* nav signup button */
#nav-signup-btn{
    background: #facc15;
    color: #172554;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    cursor: pointer;
}
#nav-signup-btn:hover{
    background:#eab308;
}

/* nav login button */
#nav-login-btn{
    background: transparent;
    color: #ffffff;
    border: 1.5px solid rgba(255,255,255,0.4);
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
}
#nav-login-btn:hover{
    background: rgba(255,255,255,0.1);
}

/* login section */
#login-section{
    width: 350px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: 100px auto;
    text-align: center;
}
#login-section h2{
    font-size: 30px;
    color:#062460;
    margin-bottom: 20px;
}
#login-section input{
    width: 90%;
    height: 35px;
    font-size: 16px;
    border: 2px solid #062460;
    border-radius: 7px;
    padding-left: 10px;
    margin-bottom: 17px;
}
#login-section p{
    text-align: right; 
    margin-top: -10px;
    margin-bottom: 15px;
}
    
#login-button{
    background-color: #062460;
    color: white;
    border: 2px solid #062460;
    border-radius: 30px;
    font-size: 18px;
    padding: 8px 30px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
}
#login-section p{
    font-size: 16px;
    color: #555;
}
#login-section a{
    color: rgb(31, 137, 14);
    text-decoration: none;
    font-weight:bold;
}
 
/* signup section */
#signup-section{
    width: 350px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: 100px auto;
    text-align: center;
    display: none;
}
#signup-section h2{
    font-size: 30px;
    color: #062460;
    margin-bottom: 20px;
}
#signup-section input{
    width: 90%;
    height: 35px;
    font-size: 16px;
    border: 2px solid #062460;
    border-radius: 7px;
    padding-left: 10px;
    margin-bottom: 17px;
}

#signup-button{
    background-color: #062460;
    color: white;
    border: 2px solid  #062460;
    border-radius: 30px;
    font-size: 18px;
    padding: 8px 30px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
}
#signup-section p{
    font-size: 16px;
    color: #555;
}
#signup-section a{
    color: rgb(31, 137, 14);
    text-decoration: none;
    font-weight: bold;
}
 
#footer{
    background-color:#172554;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    
    /* pushes the footer to the very bottom automatically */
    margin-top: auto; 
}